<div class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-edit"></i>Paquetes
                    <!-- <div class="card-header-actions">
                    <button class="card-header-action btn btn-link btn-setting" type="button"><i class="icon-settings"></i></button><button class="card-header-action btn btn-link btn-minimize" type="button"><i class="icon-arrow-up"></i></button>
                    <button class="card-header-action btn btn-link btn-close" type="button"><i class="icon-close"></i></button>
                  </div> -->
                </div>
                <div class="card-body collapse in show" aria-expanded="true" aria-hidden="false" style="overflow: visible; height: auto; display: block;">

                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Paquete</th>
                                    <th>Proveedores</th>
                                    <th>Clientes</th>
                                    <th>Facturas</th>
                                    <th>Precio mensual</th>
                                    <th>Precio anual</th>
                                    <th>Estatus</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Paquete 1</td>
                                    <td>50</td>
                                    <td>100</td>
                                    <td>200</td>
                                    <td>$299.00</td>
                                    <td>$2,800.00</td>
                                    <td><span class="badge badge-success">Activo</span></td>
                                    <td><button class="btn btn-pill btn-ffacil" type="button">
                                    <i class="fa fa-edit"></i>&nbsp;Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Paquete 2</td>
                                    <td>100</td>
                                    <td>120</td>
                                    <td>250</td>
                                    <td>$350.00</td>
                                    <td>$3,500.00</td>
                                    <td><span class="badge badge-success">Activo</span></td>
                                    <td><button class="btn btn-pill btn-ffacil" type="button">
                                  <i class="fa fa-edit"></i>&nbsp;Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Paquete 3</td>
                                    <td>100</td>
                                    <td>200</td>
                                    <td>300</td>
                                    <td>$499.00</td>
                                    <td>$4,000.00</td>
                                    <td><span class="badge badge-success">Activo</span></td>
                                    <td><button class="btn btn-pill btn-ffacil" type="button">
                                <i class="fa fa-edit"></i>&nbsp;Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>