<section class="mt-lg-5">

    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6  col-sm-12 col-xs-12 mb-r cursor-pointer" (click)="redirect('pref-generales')">
            <div class="card classic-admin-card stylish-color">
                <div class="card-body">
                    <div class="pull-right">
                        <i _ngcontent-c6="" class="fa fa-keyboard-o white-text"></i>
                    </div>
                    <p class="white-text">Preferencias Generales</p>
                </div>

            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6  col-sm-12 col-xs-12 mb-r cursor-pointer" (click)="redirect('impuestos')">
            <div class="card classic-admin-card warning-color">
                <div class="card-body">
                    <div class="pull-right">
                        <i _ngcontent-c6="" class="fa fa-usd  white-text"></i>
                    </div>
                    <p class="white-text">Impuestos</p>
                </div>

            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6  col-sm-12 col-xs-12 mb-r cursor-pointer" (click)="redirect('retenciones')">
            <div class="card classic-admin-card unique-color">
                <div class="card-body">
                    <div class="pull-right">
                        <i _ngcontent-c6="" class="fa fa-suitcase  white-text"></i>
                    </div>
                    <p class="white-text">Retenciones</p>
                </div>

            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6  col-sm-12 col-xs-12 mb-r cursor-pointer" (click)="redirect('ter-pago')">
            <div class="card classic-admin-card red">
                <div class="card-body">
                    <div class="pull-right">
                        <i _ngcontent-c6="" class="fa fa-sticky-note white-text"></i>
                    </div>
                    <p class="white-text">Términos de Pago</p>
                </div>

            </div>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6  col-sm-12 col-xs-12 mb-r cursor-pointer" (click)="redirect('planes')">
            <div class="card classic-admin-card special-color-dark">
                <div class="card-body">
                    <div class="pull-right">
                        <i _ngcontent-c6="" class="fa fa-money white-text"></i>
                    </div>
                    <p class="white-text">Planes</p>
                </div>

            </div>
        </div>
    </div>
</section>