<div class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-edit"></i>Usuarios
                    <div class="card-header-actions">
                        <button class="card-header-action btn btn-link btn-setting" type="button">
                      <i class="fa fa-download"></i> Exportar</button>


                    </div>
                </div>
                <div class="card-body collapse in show" aria-expanded="true" aria-hidden="false" style="overflow: visible; height: auto; display: block;">

                    <div class="card-body">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label class="col-form-label" for="prependedInput">Usuario/empresa:</label>
                                        <input type="search" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label class="col-form-label" for="prependedInput">
                                        Plan
                                      </label>
                                        <select class="form-control form-control-sm">
                                          <option> Plan 1</option>
                                          <option> Plan 2</option>
                                          <option> Plan 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label class="col-form-label" for="prependedInput">Fecha Inicio:</label>
                                        <input type="date" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label class="col-form-label" for="prependedInput">Fecha Fin:</label>
                                        <input type="date" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn  btn-ffacil" type="submit">
                                      <i class="fa fa-search"></i>Buscar</button> &nbsp;&nbsp;
                                </div>
                            </div>


                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Empresa</th>
                                            <th>Usuario</th>
                                            <th>Correo</th>
                                            <th>Plan</th>
                                            <th>Fecha Prox Pago</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Grupo Nutresa</td>
                                            <td>Jose Lopez Lopez</td>
                                            <td>Email@email.com</td>
                                            <td>Basico</td>
                                            <td>01/02/2019</td>
                                            <td><button class="btn btn-pill btn-ffacil" type="button">
                                      <i class="fa fa-money"></i>&nbsp;Pagos</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Alpina</td>
                                            <td>Jose Lopez Lopez</td>
                                            <td>Email@email.com</td>
                                            <td>Basico</td>
                                            <td>01/02/2019</td>
                                            <td><button class="btn btn-pill btn-ffacil" type="button">
                                      <i class="fa fa-money"></i>&nbsp;Pagos</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Avianca</td>
                                            <td>Jose Lopez Lopez</td>
                                            <td>Email@email.com</td>
                                            <td>Basico</td>
                                            <td>01/02/2019</td>
                                            <td><button class="btn btn-pill btn-ffacil" type="button">
                                      <i class="fa fa-money"></i>&nbsp;Pagos</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Cementos Argos</td>
                                            <td>Jose Lopez Lopez</td>
                                            <td>Email@email.com</td>
                                            <td>Basico</td>
                                            <td>01/02/2019</td>
                                            <td><button class="btn btn-pill btn-ffacil" type="button">
                                      <i class="fa fa-money"></i>&nbsp;Pagos</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Bavaria</td>
                                            <td>Jose Lopez Lopez</td>
                                            <td>Email@email.com</td>
                                            <td>Basico</td>
                                            <td>01/02/2019</td>
                                            <td><button class="btn btn-pill btn-ffacil" type="button">
                                      <i class="fa fa-money"></i>&nbsp;Pagos</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ecopetrol</td>
                                            <td>Jose Lopez Lopez</td>
                                            <td>Email@email.com</td>
                                            <td>Basico</td>
                                            <td>01/02/2019</td>
                                            <td><button class="btn btn-pill btn-ffacil" type="button">
                                    <i class="fa fa-money"></i>&nbsp;Pagos</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>