<div class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-edit"></i>Usuarios
                    <!-- <div class="card-header-actions">
                    <button class="card-header-action btn btn-link btn-setting" type="button"><i class="icon-settings"></i></button><button class="card-header-action btn btn-link btn-minimize" type="button"><i class="icon-arrow-up"></i></button>
                    <button class="card-header-action btn btn-link btn-close" type="button"><i class="icon-close"></i></button>
                  </div> -->
                </div>
                <div class="card-body collapse in show" aria-expanded="true" aria-hidden="false" style="overflow: visible; height: auto; display: block;">

                    <div class="card-body">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Usuario/empresa:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                                </div>
                            </div>


                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Usuario</th>
                                    <th>Correo</th>
                                    <th>Plan</th>
                                    <th>Fecha Prox Pago</th>
                                    <th>Estatus</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Grupo Nutresa</td>
                                    <td>Jose Lopez Lopez</td>
                                    <td>Email@email.com</td>
                                    <td>Basico</td>
                                    <td>01/02/2019</td>
                                    <td><span class="badge badge-success">Activo</span></td>
                                    <td><button class="btn btn-pill btn-ffacil" type="button">
                                    <i class="fa fa-edit"></i>&nbsp;Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alpina</td>
                                    <td>Jose Lopez Lopez</td>
                                    <td>Email@email.com</td>
                                    <td>Basico</td>
                                    <td>01/02/2019</td>
                                    <td><span class="badge badge-success">Activo</span></td>
                                    <td><button class="btn btn-pill btn-ffacil" type="button">
                                    <i class="fa fa-edit"></i>&nbsp;Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Avianca</td>
                                    <td>Jose Lopez Lopez</td>
                                    <td>Email@email.com</td>
                                    <td>Basico</td>
                                    <td>01/02/2019</td>
                                    <td><span class="badge badge-success">Activo</span></td>
                                    <td><button class="btn btn-pill btn-ffacil" type="button">
                                    <i class="fa fa-edit"></i>&nbsp;Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cementos Argos</td>
                                    <td>Jose Lopez Lopez</td>
                                    <td>Email@email.com</td>
                                    <td>Basico</td>
                                    <td>01/02/2019</td>
                                    <td><span class="badge badge-success">Activo</span></td>
                                    <td><button class="btn btn-pill btn-ffacil" type="button">
                                    <i class="fa fa-edit"></i>&nbsp;Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bavaria</td>
                                    <td>Jose Lopez Lopez</td>
                                    <td>Email@email.com</td>
                                    <td>Basico</td>
                                    <td>01/02/2019</td>
                                    <td><span class="badge badge-success">Activo</span></td>
                                    <td><button class="btn btn-pill btn-ffacil" type="button">
                                    <i class="fa fa-edit"></i>&nbsp;Editar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ecopetrol</td>
                                    <td>Jose Lopez Lopez</td>
                                    <td>Email@email.com</td>
                                    <td>Basico</td>
                                    <td>01/02/2019</td>
                                    <td><span class="badge badge-success">Activo</span></td>
                                    <td><button class="btn btn-pill btn-ffacil" type="button">
                                    <i class="fa fa-edit"></i>&nbsp;Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>