<div class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-edit"></i>Nuevo paquete

                </div>
                <div class="card-body collapse in show" aria-expanded="true" aria-hidden="false" style="overflow: visible; height: auto; display: block;">
                    <form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label" for="prependedInput">Nombre:</label>
                                    <input class="form-control" id="prependedInput" size="100" type="text">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="prependedInput">Numero de proveedores:</label>
                                    <input class="form-control" id="prependedInput" size="5" type="number">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-form-label" for="prependedInput">Numero de clientes:</label>
                                    <input class="form-control" id="prependedInput" size="5" type="number">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-form-label" for="prependedInput">Numero de facturas:</label>
                                    <input class="form-control" id="prependedInput" size="5" type="number">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-form-label" for="prependedInput">Precio mensual:</label>
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">$</span></div><input class="form-control" id="appendedPrependedInput" size="16" type="text">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-form-label" for="prependedInput">Precio anual:</label>
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">$</span></div><input class="form-control" id="appendedPrependedInput" size="16" type="text">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn  btn-ffacil" type="submit">
                    <i class="fa fa-dot-circle-o"></i> Guardar</button> &nbsp;&nbsp;
                    <button class="btn btn-danger" type="reset">
                  <i class="fa fa-ban"></i> Cancelar</button></div>
            </div>
        </div>
    </div>
</div>